<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - practise</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/practise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body>
    <header class ="header vh3">
        <div class="header-logo"><a href="@Url.Action("Index", "Home")">TDL</a></div>
        <div class="header-list">
            <ul class="header-list-ul">
                <li>
                    <a href=""><img src="~/img/person-fill-gear.svg">檔案</a>
                </li>
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <!-- 顯示登出 -->
                    <li class="logout">
                        <a href="@Url.Action("Logout", "Account")"><img src="~/img/box-arrow-right.svg">登出</a>
                    </li>
                }
                else
                {
                    <!-- 顯示登入或註冊 -->
                    @if (Context.Request.Path.Equals("/Account/Login"))
                    {
                        <li class="login">
                            <a href="@Url.Action("Register", "Account")"><img src="~/img/box-arrow-right.svg">註冊</a>
                        </li>
                    }
                    else if (Context.Request.Path.Equals("/Account/Register"))
                    {
                        <li class="login">
                            <a href="@Url.Action("Login", "Account")"><img src="~/img/box-arrow-right.svg">登入</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </header>
    <div class="content">
        <img src="~/img/螢幕擷取畫面 2024-09-23 145547.png" class="content-img">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
